.contenedor-eventos {
  display: flex;
  flex-flow: column nowrap;

}

.imagenesEventos {
  flex-direction: column;
}

.miniaturasEventos {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.miniaturasEventos>img {
  background-color: aqua;
}

* {
  background-color: yellowgreen;
}