<div class="contenedor-eventos">
  <div class="imagenesEventos">
    <img src="https://picsum.photos/200" alt="Img evento" width="500" height="500">
    <div class="miniaturasEventos">
      <img src="https://picsum.photos/200/300" alt="Img evento" width="100" height="100">
      <img src="https://picsum.photos/200/300" alt="Img evento" width="100" height="100">
      <img src="https://picsum.photos/200/300" alt="Img evento" width="100" height="100">
    </div>
  </div>
  <div class="info-Eventos">
    <!-- <div class=""></div> -->
    <label>Rellena los campos con la información pertinente porfavors</label><br>

    <input type="text" name="nombre" required minlength="4" maxlength="12" size="10"  placeholder="Nombre de evento" />
    <input type="datetime-local" id="fechas" name="fechas" required minlength="4" maxlength="8" size="10"  placeholder="Fechas" />
    <input type="text" id="actividad" name="actividad" required minlength="5" maxlength="30" size="10"  placeholder="Actividad" />
    <input type="text" id="direccion" name="direccion" required minlength="7" maxlength="50" size="10"  placeholder="Dirección" />
    <input type="text" id="aforo" name="aforo" required minlength="1" maxlength="8" size="10"  placeholder="Aforo* (en caso de que exista)" />

    

  </div>
</div>