
  <div class="container">
        <h2 class="text-center mb-4">Eventos Disponibles</h2>
      
        <!-- Evento 1 -->
        <div class="card">
          <img class="card-img-top" src="/assets/Faro-logo.png" alt="Evento 1">
          <div class="card-header">
            Evento 1 (Público)
          </div>
          <div class="card-body">
            <p>Descripción del evento 1.</p>
            <button class="btn btn-primary">Unirse al Evento</button>
          </div>
        </div>
      
        <!-- Evento 2 -->
        <div class="card">
          <img class="card-img-top" src="/assets/Faro-logo.png" alt="Evento 2">
          <div class="card-header">
            Evento 2 (Privado)
          </div>
          <div class="card-body">
            <p>Descripción del evento 2.</p>
            <button class="btn btn-primary">Unirse al Evento</button>
          </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="/assets/Faro-logo.png" alt="Evento 2">
            <div class="card-header">
              Evento 3 (Privado)
            </div>
            <div class="card-body">
              <p>Descripción del evento 3.</p>
              <button class="btn btn-primary">Unirse al Evento</button>
            </div>
          </div>
  

    <button class="btn btn-create-event btn-block">Crear Nuevo Evento</button>
  </div>