/* * {  background-color: yellowgreen;} */
.contenedor-eventos {
  display: flex;
  flex-flow: row nowrap;
  padding: 5%;
  gap: 5%;
  justify-content: center;
  align-content: center;

}

.imagenesEventos {
  flex-direction: column;
}

.imagenesEventos img {
  border-radius: 5%;
  border: solid 1px black;
  margin-bottom: 2%;
}

.miniaturasEventos {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.miniaturasEventos>img {
  background-color: aqua;
}
.info-Eventos{
  flex-flow: column nowrap;
  background-color: #3966A0;
  border-radius: 5%;
  padding: 1%;
  gap: 5%; /* No funciona */
}
.info-Eventos input{
  padding: 0 10% 0 10%;
  /* margin: 0 10% 0 10%; */
  width: 100%;
  
  /* background-color: yellowgreen; */
}