
<div class="fondo">
    <div class="tarjeta">
        <h2>LOGIN</h2>
        <!--Tenemos que importar ReactiveFormsModule en app.module-->
        <div class="login">
            <form>
                <div>
                    <label for="correo"> Email:</label>
                    <br>
                    <input type="email" id="email" formControlName="email" required />
                </div>
                <div>
                    <label for="contrasenya">Contraseña:</label>
                    <br>
                    <input type="password" id="contrasena" formControlName="contrasena" />
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

<div class="panel-formulario">
    <form action="perfil.html">
        <input type="email" placeholder="Nombre" required>
        <input type="password" placeholder="Contraseña" required>
        <input type="submit" value="Iniciar sesión">
    </form>
    <p>No tienes cuenta? <span routerLink="/registro">Registrate ahora!</span></p>

</div>