<div class="mensaje-bienbenida text-center d-flex align-items-center justify-content-center">
  <p>
    Mensaje positivo
  </p>
</div>

<div class="publicidad col-md-11 mx-auto d-flex align-items-center justify-content-center">
  <p>
    Publicidad
  </p>
</div>

<div class="quedadas mx-auto">
  <input type="text" placeholder="Busca eventos en los que participes">
  <div>
    <div *ngFor="let evento of cantidad">

      <img src="assets/Faro-logo.png" routerLink="principal" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun

      <img [src]="'https://picsum.photos/' + evento+'00'" alt="Quedada?">
      <div class="info-evento">
       <p>
        Evento en el que participas

      </p>
      <button>Ver más...</button> 
      </div>   
    </div>
  </div>
</div>
<div class="publicidad col-md-11 mx-auto d-flex align-items-center justify-content-center">
  <p>
    Publicidad
  </p>
</div>
<div class="quedadas mx-auto">
  <input type="text" placeholder="Busca eventos o explora por categorias">
  <div>
    <div *ngFor="let evento of cantidad">
      <img [src]="'https://picsum.photos/' + evento+'00'" alt="Quedada?">
      <div class="info-evento">
        <p>
         Evento en x lugar a las n, hay comida y buen ambiente.
       </p>
       <button>Ver más...</button> 
       </div> 
    </div>
    <div *ngFor="let evento of cantidad">
      <img [src]="'https://picsum.photos/' + evento+'00'" alt="Quedada?">
      <div class="info-evento">
        <p>
          Evento en x lugar a las n, actividades incluidas.
       </p>
       <button>Ver más...</button> 
       </div> 
    </div>
  </div>
</div>

<div class="publicidad col-md-11 mx-auto d-flex align-items-center justify-content-center">
  <p>
    Publicidad
  </p>
</div>


<div class="lista-amigos col-md-11 mx-auto">
  <div *ngFor="let evento of cantidad">
    <img [src]="'https://picsum.photos/' + evento+'00'" alt="">
    <div class="status-green"></div>
    <p>
      Nombre
    </p>
  </div>
</div>

<div class="lista-amigos col-md-11 mx-auto">
  <div *ngFor="let evento of cantidad">
    <img [src]="'https://picsum.photos/' + evento+'00'" alt="">
    <div class="status-green"></div>
    <p>
      Nombre
    </p>
  </div>
</div>