.publicidad {
    min-height: 5em;
    max-height: 20em;
    background-color: gray;
    border-radius: 2px;
    box-shadow: 0px 0px 1px 0px black;
}

.mensaje-bienbenida {
    height: 5em;
    background-color: tan;
    margin-bottom: 2em;
}

.quedadas {
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    border: 2px;
    box-shadow: 0px 0px 3px 0px grey;
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 2em;
    width: 80vw;
}

.quedadas>input {
    border: none;
    border-bottom: 1px solid lightgray;
    color: #595959;
    width: 20vw;
}

.quedadas>input:hover,
.quedadas>input:focus {
    outline: none;
    border-bottom: 1px solid #000000;
    color: #000000;
}

.quedadas>div {
    justify-content: flex-start;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    gap: 2em;
}

.quedadas>div>div {
    height: fit-content;
    min-width: 250px;
    max-width: 10vw;
    border-radius: 5%;
    box-shadow: 1px 1px 1px 1px gray;
    padding: 1vw;
    overflow: hidden;
}

.quedadas>div>div>img {
    margin-top: -90%;
    margin-left: -2vw;
    width: 150%;
    height: auto;
}

.info-evento>button {
    outline: none;
    border: none;
    background-color: transparent;
    height: 2em;
    padding: 0px;
}

.info-evento>button:hover {
    color: #4CAF50;
}

.lista-amigos {
    margin-top: 5em;
    box-shadow: 0px 0px 1px 0px black;
    padding: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5em;
    row-gap: 2em;
    margin-top: 5em;
    margin-bottom: 5em;
    border-radius: 0.5em;
}

.lista-amigos>div>img {
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    background-color: white;
}

.lista-amigos>div>p {
    text-align: center;
}

.status-green {
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
    border: 1px solid black;
    background-color: darkgreen;
    position: relative;
    top: -1vw;
    left: 0.5vw;
}