<div>
    Lista de amigos
</div>
<div class="lista-amigos">
    <div class="amigo">
        <img src="assets/Faro-logo.png" alt="img amigo"  class="foto-perfil">
        <button>Nombre (pulsa para chatear)</button>
        <button class="Eliminar">Eliminar</button>
        <button class="Bloquear">Bloquear</button>
    </div>
    <div class="amigo">
        <img src="assets/Faro-logo.png" alt="img amigo"  class="foto-perfil">
        <button>Nombre (pulsa para chatear)</button>
        <button class="Eliminar">Eliminar</button>
        <button class="Bloquear">Bloquear</button>
    </div>
    <div class="amigo">
        <img src="assets/Faro-logo.png" alt="img amigo"  class="foto-perfil">
        <button>Nombre (pulsa para chatear)</button>
        <button class="Eliminar">Eliminar</button>
        <button class="Bloquear">Bloquear</button>
    </div>
    <div class="amigo">
        <img src="assets/Faro-logo.png" alt="img amigo"  class="foto-perfil">
        <button>Nombre (pulsa para chatear)</button>
        <button class="Eliminar">Eliminar</button>
        <button class="Bloquear">Bloquear</button>
    </div>
    <div class="amigo">
        <img src="assets/Faro-logo.png" alt="img amigo"  class="foto-perfil">
        <button>Nombre (pulsa para chatear)</button>
        <button class="Eliminar">Eliminar</button>
        <button class="Bloquear">Bloquear</button>
    </div>
    <div class="amigo">
        <img src="assets/Faro-logo.png" alt="img amigo"  class="foto-perfil">
        <button>Nombre (pulsa para chatear)</button>
        <button class="Eliminar">Eliminar</button>
        <button class="Bloquear">Bloquear</button>
    </div>
    <div class="amigo">
        <img src="assets/Faro-logo.png" alt="img amigo"  class="foto-perfil">
        <button>Nombre (pulsa para chatear)</button>
        <button class="Eliminar">Eliminar</button>
        <button class="Bloquear">Bloquear</button>
    </div>

</div>