<div class="todo">
  <div class="container">
    <div class="row">
      <!-- Lista de amigos -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Amigos
          </div>
          <ul class="list-group list-group-flush chat-list">
            <li class="list-group-item chat-list-item">Sara</li>
            <li class="list-group-item chat-list-item">Albert</li>
            <li class="list-group-item chat-list-item">Luis</li>
            <li class="list-group-item chat-list-item">Adrian</li>
            <li class="list-group-item chat-list-item">Mateo</li>

          </ul>
          <div class="card-header-o">
            Off-line
          </div>
          <ul class="list-group list-group-flush chat-list">

            <li class="list-group-item chat-list-item">Franc</li>
            <li class="list-group-item chat-list-item">Dana</li>

          </ul>
        </div>

      </div>
      <!-- Interfaz de chat -->
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            Chat Sara
          </div>
          <div class="card-body chat-box">
            <div class="message">Hola, ¿cómo estás?</div>
            <div class="message friend-message">¡Hola! Bien, gracias. ¿Y tú?</div>
            <div class="message">Yo también estoy bien, gracias por preguntar.</div>
          </div>
          <div class="card-footer">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Escribe tu mensaje...">
              <div class="input-group-append">
                <button class="btn">Enviar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>