
<div class="fondo">
    <div class="tarjeta">
         <!--Tenemos que importar ReactiveFormsModule en app.module-->
        <div class="registro">
            <form>
                        
                <div>
                            <label for="nombre">Introduce tu Nombre:</label>
                            <input type="text" id="nombre" formControlName="nombre" required />
                        </div>
                        <div>
                            <label for="apellidos">Introduce tus Apellidos:</label>
                            <input type="text" id="apellidos" formControlName="apellidos" required />
                        </div>
                        <div>
                            <label for="nick">Introduce tu Nick:</label>
                            <input type="text" id="nick" formControlName="nick"/>
                        </div>
                        <div>
                            <label for="correo">Introduce tu Correo:</label>
                            <input type="email" id="correo" formControlName="email" required />
                        </div>
                        <div>
                            <label for="contrasena">Introduce tu Contraseña:</label>
                            <input type="password" id="contrasena" formControlName="contrasena" required />
                        </div>
                        <div>
                            <label for="contrasena">Introduce tu Contraseña:</label>
                            <input type="password" id="contrasena" formControlName="contrasena" required />
                        </div>
                        
                    </form>
                </div>
                
    </div>
    <button mat-raised-button class="nav-button" routerLink="principal" type="submit" >
        REGISTRO
    </button>
    <button mat-raised-button class="nav-button" routerLink="LOGIN" type="submit" >
        LOGIN
    </button>
</div>

<div class="panel-formulario">
    <form action="login.html">
        <div class="form-registro">
            <input type="text" placeholder="Nombre" required minlength="3" maxlength="20">
            <input type="text" placeholder="Apellidos" required minlength="3" maxlength="50">
            <input type="text" placeholder="Nick (opcional)" minlength="3" maxlength="20">
            <input type="email" placeholder="Correo" required>
            <input type="password" placeholder="Contraseña" required minlength="8">
            <input type="password" placeholder="Repetir contraseña" required minlength="8">
        </div>
        <div>
            <p>Dinos algunos de tus hobies o intereses</p>
            <div class="lista-gustos">
                <div class="tarjeta-gustos">
                    <input type="checkbox" id="pesca" name="hobbies" value="Pesca">
                    <label for="pesca">Pesca</label>
                </div>
                <div class="tarjeta-gustos">
                    <p>Videojuegos</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Musica</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Deporte</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Informatica</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Fiesta</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Cocina</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Carpinteria</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Drogas</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Dibujo</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Disfraces</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Naturaleza</p>
                </div>
            </div>
        </div>
        <input type="submit" value="Crear usuario">
    </form>
    <p>Ya tienes cuenta? <a routerLink="/login">Inicia sesión!</a></p>
</div>

