.tarjeta{
     /* background-color: rgba(255, 255, 255, 0.8); Fondo semi-transparente para que la imagen de fondo sea visible */
      padding: 20px;
      border-radius: 30px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para destacar la tarjeta */
      width: 600px;
      margin-top: 50px;
      margin-left: 50px;
      margin-bottom: 200px;
      background-color: rgba(127, 255, 212, 0.566);
  }
  
  .registro {
      text-align: center;
      }
  
    form {
      display: flex;
      flex-direction: column;
      max-width: 300px;
      margin: auto;
      }
    
    label {
      margin-bottom: 5px;
    }
    
    input {
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }
    
    button {
      padding: 30px;
      width: 150px;
      background-color: #007BFF; /* Cambia el color según tus preferencias */
      color: #fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      margin: 5%;
      margin-bottom: 10%;
    }
.panel-formulario {
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 1em;
    width: 35vw;
    text-align: center;
    box-shadow: 1px 1px 5px 1px gray;
    border-radius: 1em;
    background-color: #D6E7F8;
}

.panel-formulario>form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 5%;
    align-items: center;
}

.form-registro{
display: flex;
flex-direction: column;
gap: 1em;
width: 70%;
}
.form-registro>input{
    height: 2em;
    text-align: center;
    border-radius: 1em;
    border: 1px solid gray;
}

.lista-gustos{
    display:grid;
    gap: 1em;
    grid-template-columns: repeat(4,1fr);
}

.tarjeta-gustos{
background-color: lightgray ;
padding: 0.5em;
text-align: center;
align-self: center;
height: 3.5em;
border-radius: 1em;
}
