<div class="panel-formulario">
    <form action="login.html">
        <div class="form-registro">
            <input type="text" placeholder="Nombre" required>
            <input type="text" placeholder="Apellidos" required>
            <input type="number" placeholder="Nick (opcional)">
            <input type="email" placeholder="Correo" required>
            <input type="password" placeholder="Contraseña" required>
            <input type="password" placeholder="Repetir contraseña" required>
        </div>
        <div>
            <p>Dinos algunos de tus hobies o intereses</p>
            <div class="lista-gustos">
                <div class="tarjeta-gustos">
                    <p>Pesca</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Videojuegos</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Musica</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Deporte</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Informatica</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Fiesta</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Cocina</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Carpinteria</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Drogas</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Dibujo</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Disfraces</p>
                </div>
                <div class="tarjeta-gustos">
                    <p>Naturaleza</p>
                </div>
            </div>
        </div>
        <input type="submit" value="Crear usuario">
    </form>
    <p>Ya tienes cuenta? <span routerLink="/login">Inicia sesión!</span></p>
</div>