<div class="panel-formulario">
    <form action="login.html">
        <div class="form-registro">
            <input type="text" placeholder="Nombre" required minlength="3" maxlength="20">
            <input type="text" placeholder="Apellidos" required minlength="3" maxlength="50">
            <input type="text" placeholder="Nick (opcional)" minlength="3" maxlength="20">
            <input type="email" placeholder="Correo" required>
            <input type="password" placeholder="Contraseña" required minlength="8">
            <input type="password" placeholder="Repetir contraseña" required minlength="8">
        </div>
        <div>
            <p>Dinos algunos de tus hobies o intereses</p>
            <div class="lista-gustos">
                <div class="tarjeta-gustos">
                    <input type="checkbox" id="pesca" name="hobbies" value="Pesca">
                    <label for="pesca">Pesca</label>
                </div>
                <div class="tarjeta-gustos">
                    <input type="checkbox" id="videojuegos" name="hobbies" value="videojuegos">
                    <p>Videojuegos</p>
                </div>
                <div class="tarjeta-gustos">
                    <input type="checkbox" id="musica" name="hobbies" value="musica">
                    <p>Musica</p>
                </div>
                <div class="tarjeta-gustos">
                    <input type="checkbox" id="deporte" name="hobbies" value="deporte">
                    <p>Deporte</p>
                </div>
                <div class="tarjeta-gustos">
                    <input type="checkbox" id="info" name="hobbies" value="info">
                    <p>Informatica</p>
                </div>
                <div class="tarjeta-gustos">
                    <input type="checkbox" id="fiesta" name="hobbies" value="fiesta">
                    <p>Fiesta</p>
                </div>
                <div class="tarjeta-gustos">
                    <input type="checkbox" id="cocina" name="hobbies" value="cocina">
                    <p>Cocina</p>
                </div>
                <div class="tarjeta-gustos">
                    <input type="checkbox" id="carpinteria" name="hobbies" value="carpinteria">
                    <p>Carpinteria</p>
                </div>
                <div class="tarjeta-gustos">
                    <input type="checkbox" id="dibujo" name="hobbies" value="dibujo">
                    <p>Dibujo</p>
                </div>
                <div class="tarjeta-gustos">
                    <input type="checkbox" id="disfraces" name="hobbies" value="disfraces">
                    <p>Disfraces</p>
                </div>
                <div class="tarjeta-gustos">
                    <input type="checkbox" id="Naturaleza" name="hobbies" value="Naturaleza">
                    <p>Naturaleza</p>
                </div>
            </div>
        </div>
        <input routerLink="/principal" type="submit" value="Crear usuario">
    </form>
    <p>Ya tienes cuenta? <a routerLink="/login">Inicia sesión!</a></p>
</div>

