<app-header></app-header>
<div class="mensaje-bienbenida text-center d-flex align-items-center justify-content-center">
  <p>
    Mensaje positivo
  </p>
</div>

<div class="publicidad col-md-11 mx-auto d-flex align-items-center justify-content-center">
  <p>
    Publicidad
  </p>
</div>

<p>
  Mis eventos
</p>
<div class="quedadas mx-auto">
  <input type="text">
  <div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
  </div>
  Eventos a los que estas inscrito
</div>
<div class="publicidad col-md-11 mx-auto d-flex align-items-center justify-content-center">
  <p>
    Publicidad
  </p>
</div>
<p>
  Eventos disponibles
</p>
<div class="quedadas mx-auto">
  <input type="text">
  <div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
    <div>
      <img src="assets/Faro-logo.png" alt="Quedada?">
      <p>
        Lorem ipsun Lorem ipsun Lorem ipsun
        Lorem ipsun Lorem ipsun Lorem ipsun
      </p>
    </div>
  </div>
  Eventos ordenados por fecha
</div>

<div class="publicidad col-md-11 mx-auto d-flex align-items-center justify-content-center">
  <p>
    Publicidad
  </p>
</div>


<div class="lista-amigos col-md-11 mx-auto">
  <div>
    <img src="assets/Faro-logo.png" alt="">
    <p>
      Nombre
    </p>
  </div>
  <div>
    <img src="assets/Faro-logo.png" alt="">
    <p>
      Nombre
    </p>
  </div>
  <div>
    <img src="assets/Faro-logo.png" alt="">
    <p>
      Nombre
    </p>
  </div>
  <div>
    <img src="assets/Faro-logo.png" alt="">
    <p>
      Nombre
    </p>
  </div>
  <div>
    <img src="assets/Faro-logo.png" alt="">
    <p>
      Nombre
    </p>
  </div>
  <div>
    <img src="assets/Faro-logo.png" alt="">
    <p>
      Nombre
    </p>
  </div>
  <div>
    <img src="assets/Faro-logo.png" alt="">
    <p>
      Nombre
    </p>
  </div>
  <div>
    <img src="assets/Faro-logo.png" alt="">
    <p>
      Nombre
    </p>
  </div>
  <div>
    <img src="assets/Faro-logo.png" alt="">
    <p>
      Nombre
    </p>
  </div>
  <div>
    <img src="assets/Faro-logo.png" alt="">
    <p>
      Nombre
    </p>
  </div>
  <div>
    <img src="assets/Faro-logo.png" alt="">
    <p>
      Nombre
    </p>
  </div>
  <div>
    <img src="assets/Faro-logo.png" alt="">
    <p>
      Nombre
    </p>
  </div>
  <div>
    <img src="assets/Faro-logo.png" alt="">
    <p>
      Nombre
    </p>
  </div>
</div>
Amigos recomendados en base a gustos y eentos participados
<div>

</div>
<app-footer></app-footer>
