<header>
    <div>
        <img src="assets/Faro-logo.png" routerLink="principal" alt="Logo faro" class="logo-menu" routerLink="">
    </div>
    <div class="links-header ">
        <button routerLink="/chat">
            CHAT
        </button>
        <button routerLink="/eventos">
            EVENTOS
        </button>
        <button routerLink="/lista-amigos">
            AMIGOS
        </button>
        <img src="assets/Faro-logo.png" alt="imagen perfil" class="perfil-menu" routerLink="/perfil">
    </div>
</header>